[submodule "frontend"]
	path = frontend
	url = ./frontend/
[submodule "loadbalancer"]
	path = loadbalancer
	url = ./loadbalancer/
[submodule "backend-python"]
	path = backend-python
	url = ./backend-python/
