[submodule "frontend"]
	path = frontend
	url = git@github.com:kbamponsem/staffshare-redesign.git
[submodule "loadbalancer"]
	path = loadbalancer
	url = git@github.com:kbamponsem/staffshare-loabalancer.git
[submodule "backend-python"]
	path = backend-python
	url = git@github.com:kbamponsem/staffshare-backend-python.git
